apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: three-tier

spec:
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%

  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend

    spec:
      containers:
      - name: frontend
        image: ghcr.io/srdarknighter/3-tier-k8s-deployment-fe:sha-2d80aa89481e1b68720c3f9c797f231c013dcf78
        env:
          - name: NODE_OPTIONS
            value: "--openssl-legacy-provider"
        imagePullPolicy: Always
        ports:
        - containerPort: 3000

        envFrom:
          - configMapRef:
              name: frontend-config

        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 256Mi

      imagePullSecrets:
        - name: github-container-registry 
