  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: backend
    namespace: three-tier
  spec:
    replicas: 2
    selector:
      matchLabels:
        app: backend
    template:
      metadata:
        labels:
          app: backend
      spec:
        imagePullSecrets:
          - name: github-container-registry

        containers:
        - name: backend
          image: ghcr.io/<username>/<repo>:<tag>
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
          - containerPort: 3500
          
          env:
          - name: MONGO_CONN_STR
            value: mongodb://mongodb-svc:27017/todo?directConnection=true
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongo-sec
                key: username
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongo-sec
                key: password

          livenessProbe:
            httpGet:
              path: /healthz
              port: 3500
            initialDelaySeconds: 2
            periodSeconds: 5
          
          readinessProbe:
            httpGet:
              path: /ready
              port: 3500
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
          
          startupProbe:
            httpGet:
              path: /started
              port: 3500
            initialDelaySeconds: 0
            periodSeconds: 10
            failureThreshold: 30